Repository KratosMultiphysics/CoSimIO, pull requests merged in 2021-08, with the labels that each got.

#248 [FileComm] remove file index
  co_sim_io/includes/communication/file_communication.hpp
  co_sim_io/sources/communication/communication.cpp
  co_sim_io/sources/communication/file_communication.cpp
Labels: communication: file, needs changelog

#249 moving some file utility fcts to the baseclass
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/includes/communication/file_communication.hpp
  co_sim_io/sources/communication/communication.cpp
  co_sim_io/sources/communication/file_communication.cpp
  co_sim_io/sources/vtk_utilities.cpp
Labels: communication: file

#251 [MPI] Initial tests for connect/disconnect and missing synchronizations
  co_sim_io/mpi/sources/co_sim_io_mpi.cpp
  co_sim_io/sources/communication/communication.cpp
  co_sim_io/sources/communication/file_communication.cpp
  tests/CMakeLists.txt
  tests/integration_tutorials/cpp/mpi/connect_disconnect_mpi_a.cpp
  tests/integration_tutorials/cpp/mpi/connect_disconnect_mpi_b.cpp
Labels: MPI

#252 [CI] always upload logs of CTest
  .github/workflows/ci.yml
  tests/co_sim_io/c/info/test_info_double.c
Labels: continuous integration

#253 adding error code
  co_sim_io/sources/communication/communication.cpp
Labels: communication: file, windows

#254 [Communication] option to use availability file instead of rename
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/sources/communication/communication.cpp
  tests/co_sim_io/cpp/test_communication.cpp
Labels: enhancement, needs changelog, communication: file

#255 [Communication] improve handshake
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/includes/communication/file_communication.hpp
  co_sim_io/includes/communication/sockets_communication.hpp
  co_sim_io/includes/data_communicator.hpp
  co_sim_io/sources/communication/communication.cpp
Labels: enhancement

#256 [MPI] adding some wards for prints
  co_sim_io/sources/communication/communication.cpp
Labels: MPI

#257 [FileComm] make Im-/ExportInfo MPI compatible
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/sources/communication/communication.cpp
  co_sim_io/sources/communication/file_communication.cpp
  tests/CMakeLists.txt
  tests/integration_tutorials/cpp/mpi/export_info_mpi.cpp
  tests/integration_tutorials/cpp/mpi/import_info_mpi.cpp
Labels: interface C++, MPI, communication: file

#258 [Tutorial] remote control
  docs/tutorials/co_sim_remote_controlled.md
  docs/tutorials/cpp/mesh_exchange_with_kratos.md
  docs/tutorials/kratos_co_simulation.md
Labels: documentation

#259 [Communication] fix race condition
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/sources/communication/communication.cpp
Labels: MPI

#260 Adding Pipe Communication
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/includes/communication/pipe_communication.hpp
  co_sim_io/includes/utilities.hpp
  co_sim_io/sources/communication/communication.cpp
  co_sim_io/sources/communication/pipe_communication.cpp
  co_sim_io/sources/connection.cpp
  co_sim_io/sources/utilities.cpp
  tests/co_sim_io/cpp/test_communication.cpp
Labels: enhancement, needs changelog, communication: pipe

#261 make-info-serialization-threadsafe
  co_sim_io/includes/define.hpp
  co_sim_io/sources/info.cpp
Labels: todo, testing

#263 [MPI] Function to compute partner ranks
  co_sim_io/c/co_sim_io_c.cpp
  co_sim_io/includes/utilities.hpp
  co_sim_io/includes/vtk_utilities.hpp
  co_sim_io/sources/communication/communication.cpp
  co_sim_io/sources/communication/file_communication.cpp
  co_sim_io/sources/communication/pipe_communication.cpp
  co_sim_io/sources/connect_impl.cpp
  co_sim_io/sources/model_part.cpp
  co_sim_io/sources/utilities.cpp
  co_sim_io/sources/vtk_utilities.cpp
  tests/co_sim_io/cpp/co_sim_io_testing.hpp
  tests/co_sim_io/cpp/test_utilities.cpp
  tests/co_sim_io/cpp/test_vtk_utilities.cpp
Labels: MPI

#264 [FileComm] making MPI compatible
  co_sim_io/includes/communication/communication.hpp
  co_sim_io/includes/utilities.hpp
  co_sim_io/sources/communication/file_communication.cpp
  co_sim_io/sources/utilities.cpp
  tests/CMakeLists.txt
  tests/co_sim_io/cpp/test_utilities.cpp
  tests/integration_tutorials/cpp/mpi/export_data_mpi.cpp
  tests/integration_tutorials/cpp/mpi/export_mesh_mpi.cpp
  tests/integration_tutorials/cpp/mpi/import_data_mpi.cpp
  tests/integration_tutorials/cpp/mpi/import_mesh_mpi.cpp
Labels: enhancement, needs changelog, MPI, communication: file

#265 CoSimIO_Tutorials_Feedback
  docs/kratos_build.md
  docs/mesh_connectivities.md
  docs/model_part/model_part_c.md
  docs/model_part/model_part_cpp.md
  docs/model_part/model_part_python.md
  docs/tutorials/c/integration_co_sim_io.md
  docs/tutorials/co_sim_classical_approach.md
  docs/tutorials/co_sim_remote_controlled.md
  docs/tutorials/cpp/basic_data_exchange_with_kratos.md
  docs/tutorials/cpp/integration_co_sim_io.md
  docs/tutorials/cpp/mesh_exchange_with_kratos.md
  docs/tutorials/python/integration_co_sim_io.md
Labels: documentation, Tutorials

#266 [ModelPart] support for range based loops
  co_sim_io/includes/model_part.hpp
  tests/co_sim_io/cpp/test_model_part.cpp
Labels: interface C++, usability
